.login {
    align-items: center;
    margin: auto;
    padding-top: 4%;
    width: 20%;
    height: 60%;
}

.login-button {
    margin: 5%;
}

input {
    margin: 1%;
}

.error-msg {
    color: red;
}