.modify-E-form{
    text-align: left;
    padding: 1%;
}

.align-btn{
    margin-left: 0%;
}

.warn-msg{
    color: rgb(248, 190, 1);
}

.text-area{
    display: flex;
}

.text-area > * {
    flex: 0 0 auto;
}


#copy-button {
    margin-top: 15%;
    margin-left: 1%;
    height: 2%;
}

.add-973E-form{
    text-align: left;
    padding: 1%;
}

.alma-info {
    margin-top: 1%;
    padding: 1%;
    background-color: rgb(246, 247, 242);
    text-align: left;
}

.filter-section {
    width: 25%;
    margin: auto;
    padding-top: 1%;
}

.filter-select {
    padding-left: 10px;
}

.filter-form label{
    margin-top: 2%;
}

.filter-section .export {
    margin-top: 2%;
}